<div class="container">
  <app-mailbox-menu></app-mailbox-menu>
  <div class="card-container">
    <div class="search-box">
      <input type="search" placeholder="Search" />
      <img src="/assets/imgs/Mailbox/search-interface-symbol.png" width="25" />
    </div>
    <lib-email-card
      class="card-box"
      [emails]="emails"
      (updateSelectedEmailCard)="getSelectedEmailCard($event)"
    ></lib-email-card>
  </div>
  <div class="card-details-container">
    <app-mailbox-email-details
      [selectedEmail]="selectedEmail"
    ></app-mailbox-email-details>
    <router-outlet></router-outlet>
  </div>
</div>
