@import "../styles.scss";
element {
  --active-card-top: 179px;
  --active-card-left: 430px;
}
.container {
  display: flex;
  top: 0px;
  left: 0px;
  background: $white-background;
  opacity: 1;
}
.card-container {
  display: flex;
  top: 0px;
  left: 380px;
  width: 580px;
  height: 100vh;
  background: #f9faf5 0% 0% no-repeat padding-box;
  opacity: 1;
}
.card-details-container {
  flex: 1 1 auto;
}
.search-box {
  position: absolute;
  top: 51px;
  left: 410px;
  width: 520px;
  height: 47px;
  background: $white-background;
  box-shadow: 0px 12px 44px #0000000d;
  border-radius: 10px;
  opacity: 1;
}
.search-box input {
  border: none;
  background-color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #33333399;
  font: $font-18-24-normal;
  text-indent: 65px;
  letter-spacing: 0px;
  position: absolute;
  top: 0px;
}
.search-box img {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 17px;
  height: 17px;
  opacity: 1;
}
.card-content {
  width: 520px;
  background: $white-background;
  box-shadow: 20px 7px 40px #00000014;
  border-radius: 20px;
  opacity: 1;
  z-index: 1;
}
.card-box {
  @include align-center;
  position: absolute;
  top: 152px;
  width: 580px;
  flex-direction: column;
  gap: 27px;
  height: 928px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.card-box::-webkit-scrollbar {
  display: none;
}
.card-content-container {
  z-index: 1000;
}
#active-card {
  position: relative;
  --active-card-top: 0px; 
  --active-card-height: 0px;
  --active-card-left: 0px;
  top: var(--active-card-top);
  left: var(--active-card-left);
  // left: 430px;
  width: 480px;
  height: var(--active-card-height);
  background: $white-background;
  box-shadow: 20px 7px 40px #00000014;
  border-radius: 20px;
  opacity: 1;
}
.card-body {
  padding: 30px;
  display: flex;
}
.card-profile-pic {
  width: 80px;
  height: 70px;
  opacity: 1;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
  display: flex;
}
.card-profile-pic img {
  object-fit: cover;
  width: 110px;
  height: 75px;
}
.card-details {
  width: 100%;
  margin-left: 19px;
}
.sender-details {
  display: flex;
  margin-top: 6px;
}
.sender-name {
  width: 101px;
  height: 27px;
  text-align: left;
  font: $font-20-27-bold;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.sender-email-time {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  width: 120px;
  height: 19px;
  text-align: right;
  font: $font-14-19-bold;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  gap: 15px;
}
.email-subject {
  height: 27px;
  text-align: left;
  font: $font-20-27-normal;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.email-body {
  margin: 10px 0px;
  height: 51px;
  text-align: left;
  font: $font-16-24-normal;
  letter-spacing: 0px;
  color: #333333b3;
  opacity: 1;
  overflow: hidden;
  display: inline-block;
}
.email-attachments {
  display: flex;
  gap: 10px;
}
.email-attachments img {
  width: 10px;
  height: 20px;
}
.email-attachments span {
  font: $font-16-21-normal;
  letter-spacing: 0px;
  color: #1fb5eb;
  opacity: 1;
}
.email-icons-container {
  padding: 62px 110px;
}
.action-icons {
  float: left;
  width: 240px;
  height: 25px;
  background: transparent url("/assets/imgs/Mailbox/Group 25.svg") 0% 0%
    no-repeat padding-box;
  opacity: 1;
}
.email-pagination {
  float: right;
  width: 119px;
  height: 32px;
  /* UI Properties */
  background: transparent url("/assets/imgs/Mailbox/Group 23.svg") 0% 0%
    no-repeat padding-box;
  margin-right: 50px;
}
.email-details-container {
  margin: 50px 60px;
  display: flex;
}
.email-details-pic {
  width: 70px;
  height: 70px;
  opacity: 1;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
  display: flex;
}
.email-details-pic img {
  object-fit: cover;
  width: 110px;
  height: 75px;
}
.email-details-body {
  padding: 5px 20px;
}
.email-details-sender-name {
  width: 101px;
  height: 27px;
  text-align: left;
  font: $font-20-27-bold;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.email-details-subject {
  height: 27px;
  /* UI Properties */
  text-align: left;
  font: $font-20-27-normal;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.email-address {
  width: 161px;
  height: 21px;
  /* UI Properties */
  text-align: left;
  font: $font-16-21-normal;
  letter-spacing: 0.26px;
  color: #33333380;
}
.email-time {
  height: 19px;
  /* UI Properties */
  text-align: left;
  font: $font-14-19-bold;
  letter-spacing: 0px;
  color: #333333;
  padding: 30px 0px;
}
.sender-salutation {
  width: 94px;
  height: 32px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 24px/32px $font-family;
  letter-spacing: 0px;
  color: #333333;
}
.email-message {
  padding: 12px 0px;
  width: 600px;
  height: fit-content;
  /* UI Properties */
  text-align: left;
  font: $font-16-24-normal;
  letter-spacing: 0px;
  color: #333333b3;
}
.email-details-attachments {
  @include align-center;
  padding: 17px 0px;
  gap: 10px;
}
.email-details-attachments img {
  width: 10px;
  height: 20px;
}
.email-details-attachments span {
  font: $font-16-21-normal;
  letter-spacing: 0px;
  color: #1fb5eb;
  opacity: 1;
}
.image-gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 0fr);
  grid-auto-rows: 100px;
  padding: 10px 0px;
}

.image-gallery > div {
  width: fit-content;
  height: fit-content;
}
.download-container {
  @include justify-center;
  width: 130px;
  height: 35px;
  background: $white-background;
  border: 1px solid #3333338b;
  border-radius: 6px;
  gap: 10px;
}
.download-container > div {
  width: 18px;
  height: 18px;
  background: transparent url("/assets/imgs/Mailbox/126488.svg") 0% 0% no-repeat
    padding-box;
}
.download-container span {
  text-align: left;
  font: $font-16-21-normal;
  letter-spacing: 0px;
  color: #333333;
  opacity: 0.4;
}
.download-box {
  @include align-center;
  gap: 25px;
}
.email-file {
  width: 85px;
  height: 21px;
  text-align: left;
  font: $font-16-21-normal;
  letter-spacing: 0px;
  color: #333333;
  opacity: 0.4;
}
.message-container {
  @include align-center;
  width: 589px;
  height: 58px;
  border: 1px solid #33333333;
  border-radius: 10px;
  opacity: 1;
  margin: 50px 0px;
  gap: 12px;
}
.message-container input {
  border: none;
  background-color: #fff;
  display: block;
  width: 85%;
  height: inherit;
  box-sizing: border-box;
  color: #33333399;
  font: $font-18-24-normal;
  text-indent: 15px;
  letter-spacing: 0px;
  position: relative;
}
.attachment-icon {
  width: 20px;
  height: 23px;
  opacity: 1;
}
.send-icon {
  width: 24px;
  height: 23px;
  opacity: 1;
}
.copyright-text {
  width: 143px;
  height: 16px;
  /* UI Properties */
  text-align: left;
  margin-right: 5px;
  color: #cfcfcf;
}
.copyright-container {
  text-align: left;
  font: normal normal bold 12px/20px $font-family;
  letter-spacing: 0px;
  color: #959595;
}
.fixed-message-container {
  position: fixed;
  bottom: 40px;
}
.relative-message-container {
  position: relative;
}
